.btn{
    padding: 5px 15px;
    color: rgb(97, 150, 220);
    max-width: 150px;
    background-color: rgba(97, 150, 220, 0.648);
    border-radius:  4px; 
    border: none;
    margin: 25px 65px;
    cursor: pointer;
  }
  .btn .animate{
    padding-bottom: 15px
  }