@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-main {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.containerLogoImg {
  animation-duration: 3s;
}

.App-main p {
  margin-top: 2rem;
  font-size: 3.5rem;
  font-family: 'Cookie', cursive;
  word-spacing: 10px;
  animation-duration: 2s;
}